---
import BGM from '~/components/bgm/BGM.svelte';
import Headline from '~/components/headline/Headline.astro';
import Layout from '~/layouts/Layout.astro';
import CommentList from '~/modules/comments/CommentList.svelte';

export const prerender = true;
---

<Layout>
  <div id="top"></div>

  <Headline />
  <BGM client:load />

  <CommentList client:load href="789~astro" />
</Layout>
